/* Pages */

body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #F3F3F3;
	color: #333;
}

#Body {
	text-align: center;
	font-weight: lighter;
	line-height: 120%;
	overflow: scroll;
}
#Body b {
	font-weight: bold;
}
#Header {
	margin-left: auto;
	margin-right: auto;
	width: 820px;
	text-align: left;
	font-family: Lucida,sans-serif;
}
#Header img.header {
	z-index: 10;
	position: relative;
	border: 0px solid;
	width: 820px;
	height: 154px;
	margin-top: 10px;
	margin-left: 0px;
}
#ContentFrame {
	width: 630px;
	min-height: 500px;
	border-radius: 6px;
	background-color: white;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 190px;
}
#Content {
	margin: 0px;
	padding: 20px;
	padding-top: 20px;
}
#Content:after {
	content: '';
	z-index: 0;
	top: 0;
	left: 0px;
	height: 100px;
	width: 100%;
	right: 0;
	background: linear-gradient(to bottom, rgba(251, 251, 251, 1) 0%, rgba(251, 251, 251, 1) 55px, rgba(251, 251, 251, 0) 100%);
	position: fixed;
}
#Content li {
	margin-top: 0.5em;
	padding-left: 0.5em;
}
#Content p.indent {
	margin-top: 0.5em;
}
#Content p.hanging {
	margin-left: 1em;
	text-indent: -1em;
	margin-top: 0.5em;
}
#Content hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #777;
}
#Content img {
	border-style: none;
}

#Main {
	position: sticky;
	z-index: 1;
	top: 20px;
	float: left;
}

/* Top Bar */

#TopBar {
	position: sticky;
	z-index: 1;
	top: 20px;
	list-style-type: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background: #C6C6C6;
	border-radius: 5px 5px 0px 0px;
	display: flex;
	justify-content: space-around;
}
#TopBar li {
	float: left;
}
#TopBar li a {
	font-size: 1.05em;
	text-decoration: none;
	color: black;
	display: block;
	padding:0.5em;
}
#TopBar li a.l1sel {
	text-decoration: underline;
}
#TopBar li a:hover {
	text-decoration: underline;
}

/* Navigation Bar */

#NavBar {
	width: 170px;
	background: #C6C6C6;
	border-radius: 5px;
	margin: 0px;
	padding: 0px;
}
#NavBar li {
	list-style: none;
}
#NavBar li a {
	display: inline-block;
}
#NavBar li a {
	font-size: 1.05em;
	text-decoration: none;
	color: black;
	display: block;
	padding:0.5em;
	border-left: 5px solid #C6C6C6;
}
#NavBar li a:hover {
	border-left: 5px solid #333;
}
#NavBar li a.l1sel {
	background: #A0A0A0;
	border-left: 5px solid #333;
}
#NavBar li a.l1sub {
	background: #A0A0A0;
	border-left: 5px solid #A0A0A0;
}
#NavBar li a.l1sub:hover {
	border-left: 5px solid #333;
}
#NavBar li a.l2 {
	font-size: 0.95em;
	background: #FFF;
	border-left: 5px solid #FFF;
}
#NavBar li a.l2sel {
	font-size: 0.95em;
	background: #E0E0E0;
	border-left: 5px solid #333;
}
#NavBar li a.l2:hover {
	border-left: 5px solid #333;
}
#NavBar span.right {
	position: absolute;
	right: 0.5em;
}

/* Content */

.c0 {
	margin: 0;
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 1.3em;
}
.c1 {
	margin: 0;
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 1.3em;
}
a {
	color: #1270c0;
	text-decoration: none;
}
a:visited {
	color: #1270c0;
}
a:hover {
	text-decoration: underline;
}

/* Code */

.code {
	border-radius: 6px;
	border: 1px dashed #555;
	background-color: #F3F3F3;
	color: #000;
	padding: 15px;
	margin: 0;
	margin-top: 15px;
	margin-bottom: 20px;
	font-family: 'Lucida Sans Typewriter', 'Lucida Typewriter', 'Courier', 'Courier New', monospace;
}

pre .codebox,
pre .linenumber {
	background-color: #F3F3F3;
	color: #000;
	padding: 0;
	margin: 0;
	border: 1px dashed #555;
	font-family: 'Lucida Sans Typewriter', 'Lucida Typewriter', 'Courier', 'Courier New', monospace;
}
pre .codebox {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	display: block;
	overflow-x: hidden;
	border-left: 0;
}
pre .line {
	padding: 0 0 0 0.5em;
	display: block;
}
pre .line:hover {
	background-color: #FFFF99;
}
pre .linenumber {
	float:left;
	border-right: 1px solid #777;
	text-align: right;
}
pre .linenumber span {
	display: block;
	padding: 0 0.5em 0 1em;
	color: #555;
	font-weight: 100;
}
pre .results {
	padding: 0 0 0 0.5em;
	display: block;
	background-color: #FFF;
}
pre .cl {
	display: block;
	clear: both;
}
span .chars {
	color: DarkRed;
}
span .numbers {
	color: DarkGreen;
}
span .comments {
	color: #444;
	font-style: italic;
}
span .functs {
	color: #003399;
	font-weight: bold;
}
div .breakout {
	margin 0.5em;
	margin-top: 2em;
	margin-bottom: 2em;
}
#displayText {
	font-weight: bold;
	float: right;
}
